@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #F5F5F5;
    --color-secundario:#000000;
    --color-terciario: #DD88CF;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", serif;
}

*{
    padding:0;
    margin:0;

}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);

}

.header{
    padding: 2% 0% 0% 12%;/*espacio en la parte superior y la parte horizontal (iz)*/
}

.header_menu{
    display: flex;
    gap: 80px;
    

}

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1,5rem;
    font-weight: 600;
    color: var(--color-terciario);
    margin: 0 10px;/*Crea un espacio fuera del elemento.*/
    text-decoration: none;
}

.header_menu_link:hover{
color:#007bff;


}


strong{
    color:#FF5733;

}


.presentacion{
    display:flex;
    align-items: center;
    padding: 7% 12%; /*Crear un espacio dentro del elemento. */
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion_contenido_titulo{
    font-size: 2.25rm;
    font-family: var(--fuente-krona);
}

.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion_contenido_texto{
    font-size: 1,5rem;/*equivale a 24px*/
    font-family: var(--fuente-montserrat)
    
}
.presentacion_contenido_texto a{
    text-decoration: none;
    color: var(--color-terciario);

}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;    
    gap:32px;
}
.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1,5rem;
    font-weight: 400;


}

.presentacion_enlaces_link{
    width: 50%;
    text-align: center;
    padding:21.5px 0 ;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1,5rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;       /* alinea, en este caso el contenido de los botones(uno al lado del otro)*/
    justify-content: center;
    gap: 10px; /*Es el espacio, en este caso desde la imagen hasta el  texto */

}

.presentacion_enlaces_link:hover{/*para asignarle animacion al boton*/
    cursor: pointer;
    background-color: #DD88CF;
    border:2px solid #4B164C;

}

.presentacion_imagen{
    width: 50%; /*sirve para que la imagen se valla a justando al tipo de dispositivo*/
}

.footer{
    background-color: var(--color-terciario);
    padding: 1,5rem;/*es como la "caja" define la distancia entre un contenido y sus bordes.*/
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 18px;
    font-weight:400 ;/*grosor o peso de la fuente*/
}

@media(max-width: 1200px){
    .header{
        padding:10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;

    }
}

